# Environment variables for the project
VAGRANT_DEFAULT_PROVIDER=virtualbox
VAGRANT_BOX=generic/ubuntu2204
VAGRANT_BOX_CHECK_UPDATE=false
VAGRANT_HOSTNAME=vmachine
VAGRANT_NAME=vmachine
VAGRANT_MEMORY=2048
VAGRANT_CPUS=2
VAGRANT_DEFAULT_NIC_TYPE=virtio
VAGRANT_PORT_GUEST=80
VAGRANT_PORT_HOST=8080
VAGRANT_USERNAME=vagrant
VAGRANT_PASSWORD=vagrant
